@model EventsEntityFrmVs.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>

    </dl>
</div>

<h2>Comments</h2>
<div class="row">
    <div class="form-group">
        <div style="overflow-y:scroll; overflow-x:hidden; height:400px;">
            @foreach (var item in Model.Comments)
            {
                <div class="col-lg-8 col-md-8">
                    <label>@item.Text</label>
                    <label>@item.Date</label>
                    
                </div>
            }
        </div>
    </div>
</div>

<h2>Subscribers</h2>
<div class="row">
    <div class="form-group">
        <div style="overflow-y:scroll; overflow-x:hidden; height:400px;">
            @foreach (var item in Model.ApplicationUsers)
            {
                <div class="col-lg-8 col-md-8">
                    <label>@item.FirstName</label>
                   <label>@item.LastName</label>
                </div>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
