@model IEnumerable<EventsEntityFrmVs.Models.EventModel>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 eventDiv">
                @Html.DisplayFor(modelItem => item.Id)

                @Html.DisplayFor(modelItem => item.Title)

                @Html.DisplayFor(modelItem => item.Details)

                @Html.DisplayFor(modelItem => item.Location)

                @Html.DisplayFor(modelItem => item.DateAndTime)
                @Html.AntiForgeryToken()
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    @*@Html.ActionLink("Subscribe", "Subscribe", new { id = item.Id },  new { @class = "btn btn-danger subscribeButton" })*@
                    @*@Ajax.ActionLink("Subscribe", "Subscribe", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST" })*@
                  using (Html.BeginForm("Subscribe", "EventController", FormMethod.Post))
                  {
                    @Html.ActionLink("Subscribe", "", null, new { @id = "submit" }, new { @class = "btn btn-danger subscribeButton" })
                  }

                }
                <script type="text/javascript">
                      $(function () {
                          $("#submit").click(function () {
                              document.forms[0].submit();
                              return false;
                          });
                      });
                </script>
            </div>
        }

      

    </div>
</div>
 
  

